.button {
  border: none;
  box-sizing: border-box;
  display: block;
  color: @text-white;
  background-color: @basic-green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px auto;
  margin: 0 auto;

  &--light {
    border: none;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    color: @gray--darken;
    background-color: @gray--lightest;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px auto;
    width: 100%;
  }
}
