.button {
  border: none;
  box-sizing: border-box;
  display: block;
  color: @text-white;
  background-color: @basic-green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 60px;
  margin: 0 auto;

  &--light {
    color: @gray--darken;
    background-color: @gray--lightest;
  }
}

