.contacts {
  // outline: @outline-width solid @outline-red;
  // outline-offset: -(@outline-width);
  position: relative;

  &__container {
    .container-base;
    padding-top: 28px;
    padding-bottom: 26px;

    &--gray {
      background-color: @gray--lightest;
      margin-bottom: 0;
    }

    @media (min-width: @tablet) {
      margin-bottom: 0;
      padding: 60px 70px;
    }

    @media (min-width: @desktop) {
      box-sizing: border-box;
      // margin-left: -610px;
      margin-left: 110px;
      margin-top: 95px;
      // left: 50%;
      background-color: @text-white;
      padding: 62px 88px 62px 76px;
      position: absolute;
      top: 0;
      width: 570px;
    }
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-family: @default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @special-black;
    width: 140px;

    @media (min-width: @tablet) {
      font-size: 20px;
      line-height: 25px;
      width: 172px;
    }
  }

  &__address {
    margin: 0;
    font-family: @special-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: @gray--darken;
    margin-left: 20px;
    text-align: left;

    @media (max-width: @mobile-only) {
      &-line {
        .visually-hidden;
      }
      max-width: 140px;
    }

    @media (min-width: @tablet) {
      display: flex;
      flex-direction: column;
      text-align: right;
    }

    @media (min-width: @desktop) {
      text-align: left;
    }
  }

  &__map {
    width: 100%;
    height: 362px;
    border: 0;

    @media (min-width: @tablet) {
      height: 400px;
    }
  }
}
