.features {
  outline: @outline-width solid @outline-blue;
  outline-offset: -(@outline-width);

  &__container {
    .container-base;
    padding-top: 38px;
    padding-bottom: 42px;
  }

  &__header {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  &__list {
    .list-reset;
  }

  &__item {
    margin-left: 80px;
    margin-bottom: 20px;
    position: relative;

    p {
      margin: 0;
      font-family: @special-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: @gray--darken;
    }

    ::after {
      content: "";
      position: absolute;
      left: -80px;
      top: 0;
      width: 40px;
      height: 60px;
      padding-left: 20px;
      background-color: @basic-green;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--leaf::after {
      content: "";
      position: absolute;
      left: -65px;
      z-index: 100;
      top: 15px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon_leaf.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--tub::after {
      content: "";
      position: absolute;
      left: -65px;
      z-index: 100;
      top: 15px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon_tub.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--eat::after {
      content: "";
      position: absolute;
      left: -65px;
      z-index: 100;
      top: 15px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon_eat.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--alarm::after {
      content: "";
      position: absolute;
      left: -65px;
      z-index: 100;
      top: 15px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon_alarm.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
