.main-nav {
  &__toggle {
    border: none;
    background-color: transparent;
    height: 18px;
    width: 24px;
    background-image: url("../img/icon-hamburger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__toggle:focus {
    outline: none;
  }
}
