.page-catalog {
  // outline: @outline-width solid @outline-green;
  // outline-offset: -(@outline-width);

  &__block-title {
    padding-left: 20px;
  }

  &__header {
    .container-base;
    font-family: @default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: @text-black;
    margin-top: 37px;
    margin-bottom: 41px;
  }
}
