.page-block-title {
  // outline: @outline-width solid @outline-green;
  outline-offset: -(@outline-width);
  .container-base;
  font-family: @default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @text-black;
  margin-top: 27px;
  margin-bottom: 27px;
}
