.page-header {
  // outline: @outline-width solid @outline-bordo;
  // outline-offset: -(@outline-width);
  border-bottom: 1px solid @menu-border;
  .container-base;
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;

  // &__logo {
  //   order: 0;
  //   display: flex;
  //   justify-content: space-around;
  // }

  &__logo-picture {
    order: 0;
    align-items: flex-start;
  }

  &__logo-name {
    order: 1;
    margin: 0 auto;
    align-items: flex-end;
  }

  &__menu-toggle {
    margin: auto 0;
    order: 2;
    border: none;
    background-color: transparent;
    height: 18px;
    width: 24px;
    background-image: url("../img/icon-hamburger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;

    &--close {
      background-image: url("../img/icon-cross.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__menu-toggle:focus {
    outline: none;
  }
}
