.page-footer {
  outline: @outline-width solid @outline-cyan;
  outline-offset: -(@outline-width);
  background-color: @basic-grey;

  &__container {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 26px;
  }

  &__logo {
    margin: 0 auto;
  }

  .site-logo {
    width: 128px;
    height: 24px;
    background-image: url("../img/logo-cat-energy.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
