// Colors
@gray--lightest:       #F2F2F2;  // background
@gray--lighten:        #DCDCDC;
@gray--light:          #EBEBEB;
@gray:                 #CDCDCD;  // statistics outline
@gray--dark:           #666666;
@gray--darken:         #444444;  // copyright link
@gray--darkest:        #222222;

@basic-green:          #68B738;  // button etc.
@special-green:        #5EAA2F;

@special-black:        #111111;  // header title
@status_error:         #FF8282;
@example-background:   #EAEAEA;
@border-light:         #D9D9D9;
@text-white:           #ffffff;
@text-black:           #000000;
@menu-border:          #E6E6E6;

// Fonts
@default-font: "Oswald", "Arial", sans-serif;
@special-font: "Arial", sans-serif;

// Outline
@outline-opacity: 0.4;
@outline-width: 2px;
@outline-purple: rgba(221, 61, 221, @outline-opacity);
@outline-green: rgba(61, 221, 0, @outline-opacity);
@outline-red: rgba(221, 0, 0, @outline-opacity);
@outline-blue: rgba(0, 88, 221, @outline-opacity);
@outline-bordo: rgba(121, 27, 82, @outline-opacity);
@outline-cyan: rgba(0, 171, 177, @outline-opacity);
